@model EventViewModel

<form asp-controller="Registrations" asp-action="Join" method="post" class="d-inline">
    <input type="hidden" name="eventId" value="@Model.Id" />
    <button type="submit" class="btn btn-success btn-sm">Unirse</button>
</form>