@model CheckPoint.Models.EventRules.EventRules
@{
    ViewData["Title"] = "Crear Regla";
}

<h1>Crear Nueva Regla</h1>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="EventId" />
    @await Html.PartialAsync("_EventRulesForm", Model)
    
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Crear</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
