@model IEnumerable<GameViewModel>

<div class="favorite-games-selector">
    <div class="row">
        @foreach (var game in ViewBag.AllGames)
        {
            var isFavorite = Model?.Any(g => g.Id == game.Id) ?? false;
            <div class="col-md-3 mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="FavoriteGameIds" value="@game.Id" id="game_@game.Id" @(isFavorite ? "checked" : "") />
                    <label class="form-check-label" for="game_@game.Id">
                        @game.Name
                    </label>
                </div>
            </div>
        }
    </div>
</div>